@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
    background: #eee;
}

body > header{
    background: firebrick;
    color: #eee;
    padding: 10px;
}

h1{
    margin: 0;
}

section{
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    background: white;
    box-shadow: #222 2px 2px 2px 2px;
}

img{
    width: 150px;
}

footer{
    background: #222;
    color: #eee;
    padding: 10px;
}